<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BakeryApplication"
        tools:targetApi="31">
        <activity
            android:name=".userActivities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.UserCartActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.DrinksMenuActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.EditDrinksMenuActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.EditFoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".adminActivities.EditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.UserInformationActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.UserActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>